.DS_Store
node_modules
/build
/.svelte-kit
/.svelte-kit
.vercel
/package
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.netlify/serverless.js
.netlify/shims.js
.netlify/functions-internal/sveltekit-render.json
.netlify/functions-internal/sveltekit-render.mjs
.netlify/server/index.js
.netlify/server/internal.js
.netlify/server/manifest-full.js
.netlify/server/manifest.js
.netlify/server/_app/immutable/assets/_layout.587fc56f.css
.netlify/server/_app/immutable/assets/_page.e6708a43.css
.netlify/server/_app/immutable/assets/index.4f1e9ba5.css
.netlify/server/chunks/index.js
.netlify/server/chunks/index2.js
.netlify/server/chunks/index3.js
.netlify/server/chunks/index4.js
.netlify/server/chunks/index5.js
.netlify/server/chunks/internal.js
.netlify/server/chunks/stores.js
.netlify/server/entries/endpoints/api/search/_server.ts.js
.netlify/server/entries/pages/_error.svelte.js
.netlify/server/entries/pages/_layout.svelte.js
.netlify/server/entries/pages/_page.server.ts.js
.netlify/server/entries/pages/_page.svelte.js
.netlify/server/entries/pages/anime/_id_/_page.server.ts.js
.netlify/server/entries/pages/anime/_id_/_page.svelte.js
.netlify/server/nodes/0.js
.netlify/server/nodes/1.js
.netlify/server/nodes/2.js
.netlify/server/nodes/3.js
.2.svelte-kit/ambient.d.ts
.2.svelte-kit/ambient.d.ts
.netlify/server/_app/immutable/assets/_layout.3076d5e4.css
.netlify/server/_app/immutable/assets/ProgressBar.4f1e9ba5.css
.netlify/server/chunks/hooks.server.js
.netlify/server/chunks/image.js
.netlify/server/chunks/Player.js
.netlify/server/chunks/ProgressBar.svelte_svelte_type_style_lang.js
.netlify/server/chunks/stores2.js
.netlify/server/entries/pages/login/_page.server.ts.js
.netlify/server/entries/pages/login/_page.svelte.js
.netlify/server/entries/pages/test/_page.svelte.js
.netlify/server/nodes/4.js
.netlify/server/nodes/5.js
.netlify/server/_app/immutable/assets/_layout.c617e978.css
.netlify/server/_app/immutable/assets/_page.68069bcf.css
.netlify/server/_app/immutable/assets/stores.4f1e9ba5.css

pnpm-lock.yaml
static/message.txt
